In [34]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 200)

In [35]:
df_application_train = pd.read_csv("../data/application_train.csv")
# df_application_test = pd.read_csv("../data/application_test.csv")
df_bureau = pd.read_csv("../data/bureau.csv")
df_bureau_balance = pd.read_csv("../data/bureau_balance.csv")
df_previous_application = pd.read_csv("../data/previous_application.csv")
df_installments_payments = pd.read_csv("../data/installments_payments.csv")
df_pos_cash_balance = pd.read_csv("../data/POS_CASH_balance.csv")
df_credit_card_balance = pd.read_csv("../data/credit_card_balance.csv")
df_sample_submission = pd.read_csv("../data/sample_submission.csv")
# df_columns_description = pd.read_csv("../data/HomeCredit_columns_description.csv")

In [44]:
print(df_application_train.columns.tolist())
df_application_train.head().T

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3', 'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

,0,1,2,3,4
SK_ID_CURR,100002,100003,100004,100006,100007
TARGET,1,0,0,0,0
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Revolving loans,Cash loans,Cash loans
CODE_GENDER,M,F,M,F,M
FLAG_OWN_CAR,N,N,Y,N,N
FLAG_OWN_REALTY,Y,N,Y,Y,Y
CNT_CHILDREN,0,0,0,0,0
AMT_INCOME_TOTAL,202500.0,270000.0,67500.0,135000.0,121500.0
AMT_CREDIT,406597.5,1293502.5,135000.0,312682.5,513000.0
AMT_ANNUITY,24700.5,35698.5,6750.0,29686.5,21865.5
AMT_GOODS_PRICE,351000.0,1129500.0,135000.0,297000.0,513000.0
NAME_TYPE_SUITE,Unaccompanied,Family,Unaccompanied,Unaccompanied,Unaccompanied
NAME_INCOME_TYPE,Working,State servant,Working,Working,Working
NAME_EDUCATION_TYPE,Secondary / secondary special,Higher education,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special
NAME_FAMILY_STATUS,Single / not married,Married,Single / not married,Civil marriage,Single / not married
NAME_HOUSING_TYPE,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment
REGION_POPULATION_RELATIVE,0.018801,0.003541,0.010032,0.008019,0.028663
DAYS_BIRTH,-9461,-16765,-19046,-19005,-19932
DAYS_EMPLOYED,-637,-1188,-225,-3039,-3038
DAYS_REGISTRATION,-3648.0,-1186.0,-4260.0,-9833.0,-4311.0
DAYS_ID_PUBLISH,-2120,-291,-2531,-2437,-3458
OWN_CAR_AGE,NaN,NaN,26.0,NaN,NaN
FLAG_MOBIL,1,1,1,1,1
FLAG_EMP_PHONE,1,1,1,1,1
FLAG_WORK_PHONE,0,0,1,0,0
FLAG_CONT_MOBILE,1,1,1,1,1
FLAG_PHONE,1,1,1,0,0
FLAG_EMAIL,0,0,0,0,0
OCCUPATION_TYPE,Laborers,Core staff,Laborers,Laborers,Core staff
CNT_FAM_MEMBERS,1.0,2.0,1.0,2.0,1.0
REGION_RATING_CLIENT,2,1,2,2,2
REGION_RATING_CLIENT_W_CITY,2,1,2,2,2
WEEKDAY_APPR_PROCESS_START,WEDNESDAY,MONDAY,MONDAY,WEDNESDAY,THURSDAY
HOUR_APPR_PROCESS_START,10,11,9,17,11
REG_REGION_NOT_LIVE_REGION,0,0,0,0,0
REG_REGION_NOT_WORK_REGION,0,0,0,0,0
LIVE_REGION_NOT_WORK_REGION,0,0,0,0,0
REG_CITY_NOT_LIVE_CITY,0,0,0,0,0
REG_CITY_NOT_WORK_CITY,0,0,0,0,1
LIVE_CITY_NOT_WORK_CITY,0,0,0,0,1
ORGANIZATION_TYPE,Business Entity Type 3,School,Government,Business Entity Type 3,Religion
EXT_SOURCE_1,0.083037,0.311267,NaN,NaN,NaN
EXT_SOURCE_2,0.262949,0.622246,0.555912,0.650442,0.322738
EXT_SOURCE_3,0.139376,NaN,0.729567,NaN,NaN
APARTMENTS_AVG,0.0247,0.0959,NaN,NaN,NaN
BASEMENTAREA_AVG,0.0369,0.0529,NaN,NaN,NaN
YEARS_BEGINEXPLUATATION_AVG,0.9722,0.9851,NaN,NaN,NaN
YEARS_BUILD_AVG,0.6192,0.796,NaN,NaN,NaN
COMMONAREA_AVG,0.0143,0.0605,NaN,NaN,NaN
ELEVATORS_AVG,0.0,0.08,NaN,NaN,NaN
ENTRANCES_AVG,0.069,0.0345,NaN,NaN,NaN
FLOORSMAX_AVG,0.0833,0.2917,NaN,NaN,NaN
FLOORSMIN_AVG,0.125,0.3333,NaN,NaN,NaN
LANDAREA_AVG,0.0369,0.013,NaN,NaN,NaN
LIVINGAPARTMENTS_AVG,0.0202,0.0773,NaN,NaN,NaN
LIVINGAREA_AVG,0.019,0.0549,NaN,NaN,NaN
NONLIVINGAPARTMENTS_AVG,0.0,0.0039,NaN,NaN,NaN
NONLIVINGAREA_AVG,0.0,0.0098,NaN,NaN,NaN
APARTMENTS_MODE,0.0252,0.0924,NaN,NaN,NaN
BASEMENTAREA_MODE,0.0383,0.0538,NaN,NaN,NaN
YEARS_BEGINEXPLUATATION_MODE,0.9722,0.9851,NaN,NaN,NaN
YEARS_BUILD_MODE,0.6341,0.804,NaN,NaN,NaN
COMMONAREA_MODE,0.0144,0.0497,NaN,NaN,NaN
ELEVATORS_MODE,0.0,0.0806,NaN,NaN,NaN
ENTRANCES_MODE,0.069,0.0345,NaN,NaN,NaN
FLOORSMAX_MODE,0.0833,0.2917,NaN,NaN,NaN
FLOORSMIN_MODE,0.125,0.3333,NaN,NaN,NaN
LANDAREA_MODE,0.0377,0.0128,NaN,NaN,NaN
LIVINGAPARTMENTS_MODE,0.022,0.079,NaN,NaN,NaN
LIVINGAREA_MODE,0.0198,0.0554,NaN,NaN,NaN
NONLIVINGAPARTMENTS_MODE,0.0,0.0,NaN,NaN,NaN
NONLIVINGAREA_MODE,0.0,0.0,NaN,NaN,NaN
APARTMENTS_MEDI,0.025,0.0968,NaN,NaN,NaN
BASEMENTAREA_MEDI,0.0369,0.0529,NaN,NaN,NaN
YEARS_BEGINEXPLUATATION_MEDI,0.9722,0.9851,NaN,NaN,NaN
YEARS_BUILD_MEDI,0.6243,0.7987,NaN,NaN,NaN
COMMONAREA_MEDI,0.0144,0.0608,NaN,NaN,NaN
ELEVATORS_MEDI,0.0,0.08,NaN,NaN,NaN
ENTRANCES_MEDI,0.069,0.0345,NaN,NaN,NaN
FLOORSMAX_MEDI,0.0833,0.2917,NaN,NaN,NaN
FLOORSMIN_MEDI,0.125,0.3333,NaN,NaN,NaN
LANDAREA_MEDI,0.0375,0.0132,NaN,NaN,NaN
LIVINGAPARTMENTS_MEDI,0.0205,0.0787,NaN,NaN,NaN
LIVINGAREA_MEDI,0.0193,0.0558,NaN,NaN,NaN
NONLIVINGAPARTMENTS_MEDI,0.0,0.0039,NaN,NaN,NaN
NONLIVINGAREA_MEDI,0.0,0.01,NaN,NaN,NaN
FONDKAPREMONT_MODE,reg oper account,reg oper account,NaN,NaN,NaN
HOUSETYPE_MODE,block of flats,block of flats,NaN,NaN,NaN
TOTALAREA_MODE,0.0149,0.0714,NaN,NaN,NaN
WALLSMATERIAL_MODE,"Stone, brick",Block,NaN,NaN,NaN
EMERGENCYSTATE_MODE,No,No,NaN,NaN,NaN
OBS_30_CNT_SOCIAL_CIRCLE,2.0,1.0,0.0,2.0,0.0
DEF_30_CNT_SOCIAL_CIRCLE,2.0,0.0,0.0,0.0,0.0
OBS_60_CNT_SOCIAL_CIRCLE,2.0,1.0,0.0,2.0,0.0
DEF_60_CNT_SOCIAL_CIRCLE,2.0,0.0,0.0,0.0,0.0
DAYS_LAST_PHONE_CHANGE,-1134.0,-828.0,-815.0,-617.0,-1106.0
FLAG_DOCUMENT_2,0,0,0,0,0
FLAG_DOCUMENT_3,1,1,0,1,0
FLAG_DOCUMENT_4,0,0,0,0,0
FLAG_DOCUMENT_5,0,0,0,0,0
FLAG_DOCUMENT_6,0,0,0,0,0
FLAG_DOCUMENT_7,0,0,0,0,0
FLAG_DOCUMENT_8,0,0,0,0,1
FLAG_DOCUMENT_9,0,0,0,0,0
FLAG_DOCUMENT_10,0,0,0,0,0
FLAG_DOCUMENT_11,0,0,0,0,0
FLAG_DOCUMENT_12,0,0,0,0,0
FLAG_DOCUMENT_13,0,0,0,0,0
FLAG_DOCUMENT_14,0,0,0,0,0
FLAG_DOCUMENT_15,0,0,0,0,0
FLAG_DOCUMENT_16,0,0,0,0,0
FLAG_DOCUMENT_17,0,0,0,0,0
FLAG_DOCUMENT_18,0,0,0,0,0
FLAG_DOCUMENT_19,0,0,0,0,0
FLAG_DOCUMENT_20,0,0,0,0,0
FLAG_DOCUMENT_21,0,0,0,0,0
AMT_REQ_CREDIT_BUREAU_HOUR,0.0,0.0,0.0,NaN,0.0
AMT_REQ_CREDIT_BUREAU_DAY,0.0,0.0,0.0,NaN,0.0
AMT_REQ_CREDIT_BUREAU_WEEK,0.0,0.0,0.0,NaN,0.0
AMT_REQ_CREDIT_BUREAU_MON,0.0,0.0,0.0,NaN,0.0
AMT_REQ_CREDIT_BUREAU_QRT,0.0,0.0,0.0,NaN,0.0
AMT_REQ_CREDIT_BUREAU_YEAR,1.0,0.0,0.0,NaN,0.0

In [45]:
print(df_bureau.columns.tolist())
df_bureau.head().T

['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY', 'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE', 'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE', 'AMT_ANNUITY']

,0,1,2,3,4
SK_ID_CURR,215354,215354,215354,215354,215354
SK_ID_BUREAU,5714462,5714463,5714464,5714465,5714466
CREDIT_ACTIVE,Closed,Active,Active,Active,Active
CREDIT_CURRENCY,currency 1,currency 1,currency 1,currency 1,currency 1
DAYS_CREDIT,-497,-208,-203,-203,-629
CREDIT_DAY_OVERDUE,0,0,0,0,0
DAYS_CREDIT_ENDDATE,-153.0,1075.0,528.0,NaN,1197.0
DAYS_ENDDATE_FACT,-153.0,NaN,NaN,NaN,NaN
AMT_CREDIT_MAX_OVERDUE,NaN,NaN,NaN,NaN,77674.5
CNT_CREDIT_PROLONG,0,0,0,0,0
AMT_CREDIT_SUM,91323.0,225000.0,464323.5,90000.0,2700000.0
AMT_CREDIT_SUM_DEBT,0.0,171342.0,NaN,NaN,NaN
AMT_CREDIT_SUM_LIMIT,NaN,NaN,NaN,NaN,NaN
AMT_CREDIT_SUM_OVERDUE,0.0,0.0,0.0,0.0,0.0
CREDIT_TYPE,Consumer credit,Credit card,Consumer credit,Credit card,Consumer credit
DAYS_CREDIT_UPDATE,-131,-20,-16,-16,-21
AMT_ANNUITY,NaN,NaN,NaN,NaN,NaN

In [46]:
print(df_bureau_balance.columns.tolist())
df_bureau_balance.head().T

['SK_ID_BUREAU', 'MONTHS_BALANCE', 'STATUS']

                      0        1        2        3        4
SK_ID_BUREAU    5715448  5715448  5715448  5715448  5715448
MONTHS_BALANCE        0       -1       -2       -3       -4
STATUS                C        C        C        C        C

In [52]:
print(df_previous_application.columns.tolist())
df_previous_application.head().T

['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY', 'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY', 'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE', 'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY', 'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION', 'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL']

,0,1,2,3,4
SK_ID_PREV,2030495,2802425,2523466,2819243,1784265
SK_ID_CURR,271877,108129,122040,176158,202054
NAME_CONTRACT_TYPE,Consumer loans,Cash loans,Cash loans,Cash loans,Cash loans
AMT_ANNUITY,1730.43,25188.615,15060.735,47041.335,31924.395
AMT_APPLICATION,17145.0,607500.0,112500.0,450000.0,337500.0
AMT_CREDIT,17145.0,679671.0,136444.5,470790.0,404055.0
AMT_DOWN_PAYMENT,0.0,NaN,NaN,NaN,NaN
AMT_GOODS_PRICE,17145.0,607500.0,112500.0,450000.0,337500.0
WEEKDAY_APPR_PROCESS_START,SATURDAY,THURSDAY,TUESDAY,MONDAY,THURSDAY
HOUR_APPR_PROCESS_START,15,11,11,7,9
FLAG_LAST_APPL_PER_CONTRACT,Y,Y,Y,Y,Y
NFLAG_LAST_APPL_IN_DAY,1,1,1,1,1
RATE_DOWN_PAYMENT,0.0,NaN,NaN,NaN,NaN
RATE_INTEREST_PRIMARY,0.182832,NaN,NaN,NaN,NaN
RATE_INTEREST_PRIVILEGED,0.867336,NaN,NaN,NaN,NaN
NAME_CASH_LOAN_PURPOSE,XAP,XNA,XNA,XNA,Repairs
NAME_CONTRACT_STATUS,Approved,Approved,Approved,Approved,Refused
DAYS_DECISION,-73,-164,-301,-512,-781
NAME_PAYMENT_TYPE,Cash through the bank,XNA,Cash through the bank,Cash through the bank,Cash through the bank
CODE_REJECT_REASON,XAP,XAP,XAP,XAP,HC
NAME_TYPE_SUITE,NaN,Unaccompanied,"Spouse, partner",NaN,NaN
NAME_CLIENT_TYPE,Repeater,Repeater,Repeater,Repeater,Repeater
NAME_GOODS_CATEGORY,Mobile,XNA,XNA,XNA,XNA
NAME_PORTFOLIO,POS,Cash,Cash,Cash,Cash
NAME_PRODUCT_TYPE,XNA,x-sell,x-sell,x-sell,walk-in
CHANNEL_TYPE,Country-wide,Contact center,Credit and cash offices,Credit and cash offices,Credit and cash offices
SELLERPLACE_AREA,35,-1,-1,-1,-1
NAME_SELLER_INDUSTRY,Connectivity,XNA,XNA,XNA,XNA
CNT_PAYMENT,12.0,36.0,12.0,12.0,24.0
NAME_YIELD_GROUP,middle,low_action,high,middle,high
PRODUCT_COMBINATION,POS mobile with interest,Cash X-Sell: low,Cash X-Sell: high,Cash X-Sell: middle,Cash Street: high
DAYS_FIRST_DRAWING,365243.0,365243.0,365243.0,365243.0,NaN
DAYS_FIRST_DUE,-42.0,-134.0,-271.0,-482.0,NaN
DAYS_LAST_DUE_1ST_VERSION,300.0,916.0,59.0,-152.0,NaN
DAYS_LAST_DUE,-42.0,365243.0,365243.0,-182.0,NaN
DAYS_TERMINATION,-37.0,365243.0,365243.0,-177.0,NaN
NFLAG_INSURED_ON_APPROVAL,0.0,1.0,1.0,1.0,NaN

In [53]:
print(df_installments_payments.columns.tolist())
df_installments_payments.head().T

['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION', 'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT', 'AMT_INSTALMENT', 'AMT_PAYMENT']

,0,1,2,3,4
SK_ID_PREV,1054186.00,1330831.000,2085231.0,2452527.00,2714724.000
SK_ID_CURR,161674.00,151639.000,193053.0,199697.00,167756.000
NUM_INSTALMENT_VERSION,1.00,0.000,2.0,1.00,1.000
NUM_INSTALMENT_NUMBER,6.00,34.000,1.0,3.00,2.000
DAYS_INSTALMENT,-1180.00,-2156.000,-63.0,-2418.00,-1383.000
DAYS_ENTRY_PAYMENT,-1187.00,-2156.000,-63.0,-2426.00,-1366.000
AMT_INSTALMENT,6948.36,1716.525,25425.0,24350.13,2165.040
AMT_PAYMENT,6948.36,1716.525,25425.0,24350.13,2160.585

In [54]:
print(df_pos_cash_balance.columns.tolist())
df_pos_cash_balance.head().T

['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'CNT_INSTALMENT', 'CNT_INSTALMENT_FUTURE', 'NAME_CONTRACT_STATUS', 'SK_DPD', 'SK_DPD_DEF']

                             0        1        2        3        4
SK_ID_PREV             1803195  1715348  1784872  1903291  2341044
SK_ID_CURR              182943   367990   397406   269225   334279
MONTHS_BALANCE             -31      -33      -32      -35      -35
CNT_INSTALMENT            48.0     36.0     12.0     48.0     36.0
CNT_INSTALMENT_FUTURE     45.0     35.0      9.0     42.0     35.0
NAME_CONTRACT_STATUS    Active   Active   Active   Active   Active
SK_DPD                       0        0        0        0        0
SK_DPD_DEF                   0        0        0        0        0

In [55]:
print(df_credit_card_balance.columns.tolist())
df_credit_card_balance.head().T

['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE', 'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT', 'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT', 'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY', 'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT', 'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE', 'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT', 'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT', 'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD', 'SK_DPD_DEF']

,0,1,2,3,4
SK_ID_PREV,2562384,2582071,1740877,1389973,1891521
SK_ID_CURR,378907,363914,371185,337855,126868
MONTHS_BALANCE,-6,-1,-7,-4,-1
AMT_BALANCE,56.97,63975.555,31815.225,236572.11,453919.455
AMT_CREDIT_LIMIT_ACTUAL,135000,45000,450000,225000,450000
AMT_DRAWINGS_ATM_CURRENT,0.0,2250.0,0.0,2250.0,0.0
AMT_DRAWINGS_CURRENT,877.5,2250.0,0.0,2250.0,11547.0
AMT_DRAWINGS_OTHER_CURRENT,0.0,0.0,0.0,0.0,0.0
AMT_DRAWINGS_POS_CURRENT,877.5,0.0,0.0,0.0,11547.0
AMT_INST_MIN_REGULARITY,1700.325,2250.0,2250.0,11795.76,22924.89
AMT_PAYMENT_CURRENT,1800.0,2250.0,2250.0,11925.0,27000.0
AMT_PAYMENT_TOTAL_CURRENT,1800.0,2250.0,2250.0,11925.0,27000.0
AMT_RECEIVABLE_PRINCIPAL,0.0,60175.08,26926.425,224949.285,443044.395
AMT_RECIVABLE,0.0,64875.555,31460.085,233048.97,453919.455
AMT_TOTAL_RECEIVABLE,0.0,64875.555,31460.085,233048.97,453919.455
CNT_DRAWINGS_ATM_CURRENT,0.0,1.0,0.0,1.0,0.0
CNT_DRAWINGS_CURRENT,1,1,0,1,1
CNT_DRAWINGS_OTHER_CURRENT,0.0,0.0,0.0,0.0,0.0
CNT_DRAWINGS_POS_CURRENT,1.0,0.0,0.0,0.0,1.0
CNT_INSTALMENT_MATURE_CUM,35.0,69.0,30.0,10.0,101.0
NAME_CONTRACT_STATUS,Active,Active,Active,Active,Active
SK_DPD,0,0,0,0,0
SK_DPD_DEF,0,0,0,0,0

In [56]:
print(df_sample_submission.columns.tolist())
df_sample_submission.head().T

['SK_ID_CURR', 'TARGET']

                   0         1         2         3         4
SK_ID_CURR  100001.0  100005.0  100013.0  100028.0  100038.0
TARGET           0.5       0.5       0.5       0.5       0.5